<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <add name="ConnString" 
        connectionString="server=127.0.0.1;uid=root;pwd=;database=dispensaire;Charset=latin1;Max Pool Size=100;Pooling=true"
           providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>
